@import "tailwindcss";

@theme {
  --color-primary-red: #B91C1C;
  --color-primary-blue: #1E40AF;
}

html,
body {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}